body{
	background-image:url("source.gif"); 
	background-size:100%;
	background-repeat:no-repeat; 
}
.santa{
height:200px; 
width: 200px;
background-image:url("ded.png");
 background-size: 100%;
 background-repeat: no-repeat;
position: absolute;
left: 35%;
}
.all{
	width:500px;
	height:500px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50% ,-50%);
}
.text{
	text-align: center;
	margin-top:115px;
	color:red;
	width:100%;
	height:300px;
	background-color: silver;

}
h1{
	animation: sant 3s infinite;
}
@keyframes sant {
	0%{color:red; transform:rotate(-5deg)}
	25%{ color:green}
	50%{color:yellow; transform:rotate(0deg) }
	75%{color:blue }
	100%{color:black; transform:rotate(5deg) }
}
.snowman {
	width: 200px;
	height: 500px;
	position:absolute;
	left:100px;
	top: 300px;  
}
.legs {
	width: 200px;
	height: 200px;
	background-color:white;
	border-radius: 50%;
	position: absolute;
	top: 300px;  
}
.body {
	width: 150px;
	height: 150px;
	background-color:white;
	border-radius: 50%;
	position:absolute;
	left: 26px;
	top:150px;
	}
	.head {
	width:100px;
	height: 100px;
	background-color:white;
	border-radius: 50%;
	position:absolute;
	left: 50px;
	top: 50px;  
	}
	.eyel {
		width: 10px;
		height: 10px;
		background-color:black;
		border-radius: 50%;
		position: absolute;
		left:30px; 
		top:35px;
	}
    .eyer{
    width: 10px;
    height: 10px;
    background-color:black;
    border-radius: 50%;
    position: absolute;
    left: 60px;
    top: 35px;
    }
    .smile{
    	width:20px;
    	height:15px;
    	background-color:pink;
    	border-radius: 0 0 50% 50%/ 0 0 100% 100%;
    	position: absolute;
    	left: 40px;
    	top: 60px;
    }
    .arml{
    	width: 100px;
    	height: 10px;
    	background-color:brown;
        position: absolute;
        left:-90px; 
        top:60px;
        transform: rotate(-5deg);  
        z-index: -2;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
    }
    .armr{
    width: 100px;
    height: 10px;
    background-color:brown;
    position: absolute;
    left: 130px;
    top:60px;
      transform: rotate(5deg);
    z-index: -2;
    }
    .legl{
    	width: 55px;
    	height: 40px;
    	background-color: white;
    	border-radius: 50%;
    	position: absolute; 
    	top:180px; 
    }
    .legr{
    	width: 55px;
    	height: 40px;
    	background-color: white;
    	border-radius: 50%;
    	position: absolute;
    	top:180px; 
    	left: 140px;
    }